<!doctype html>
  <html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {%- endif -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script src="{{ 'ba_global.js' | asset_url }}" defer="defer"></script>
    {{ content_for_header }}


    {% style %}


      @font-face {
        font-family: 'Ogg';
        src: url('{{ 'Ogg-Regular.woff2' | asset_url }}') format('woff2');
        font-style: normal;
        font-weight: normal;
        text-rendering:optimizeLegibility;
      }

      @font-face {
        font-family: 'Ogg-Italic';
        src: url('{{ 'OggTextLightItalic.ttf' | asset_url }}');
        font-style: normal;
        font-weight: normal;
        text-rendering:optimizeLegibility;
      }

      @font-face {
        font-family: 'Univers Condensed';
        src: url('{{ 'UniversCondensedRegular.woff2' | asset_url }}') format('woff2');
        font-style: normal;
        font-weight: normal;
        text-rendering:optimizeLegibility;
      }

      @font-face {
        font-family: 'Univers Extended Bold';
        src: url('{{ 'UniversExtBold.woff2' | asset_url }}') format('woff2');
        font-style: normal;
        font-weight: normal;
        text-rendering:optimizeLegibility;
      }

      @font-face {
        font-family: 'Univers';
        src: url('{{ 'UniversExtendedRegular.woff2' | asset_url }}') format('woff2');
        font-style: normal;
        font-weight: 400;
        text-rendering:optimizeLegibility;
      }


      :root {
        --font-body-family: "Univers",Helvetica,sans-serif;
        --font-heading-family: "Ogg", cursive;
        --font-heading-italic: "Ogg-Italic", cursive;
        --font-heading-condensed: "Univers Condensed", cursive;
        --font-heading-extendedbold: "Univers Extended Bold", cursive;

        --white: #fff;
        --offwhite: #F9F8F5;
        --tan: #F2F2F2;
        --black: #232323;
      }

    {% endstyle %}

    {{ 'ba_base.css' | asset_url | stylesheet_tag }}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
  </head>
  <body>
    {% section 'header' %}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>


    <script>
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };
    </script>
  </body>
</html>
